<div class="sidebar">
  <div class="logo">
    <a href="/">Phishing Detector</a>
  </div>
  <ul class="nav">
    <li>
      <a routerLink="/analyzer" routerLinkActive="active">
        <i class="fas fa-search"></i>
        <span>Analyzer</span>
      </a>
    </li>
    <li>
      <a routerLink="/history" routerLinkActive="active">
        <i class="fas fa-history"></i>
        <span>History</span>
      </a>
    </li>
    <li>
      <a routerLink="/settings" routerLinkActive="active">
        <i class="fas fa-cog"></i>
        <span>Settings</span>
      </a>
    </li>
  </ul>
</div>
