<aside class="sidebar">
  <div class="logo">
    <a routerLink="/dashboard">
      <div class="logo-icon">
        <i class="bi bi-shield"></i>
      </div>
      <span class="logo-text">Phishing<br/>Detector</span>
    </a>
  </div>

  <ul class="nav">
    <li>
      <a routerLink="/dashboard" routerLinkActive="active">
        <i class="bi bi-grid"></i>
        <span class="nav-text">Dashboard</span>
      </a>
    </li>
    <li>
      <a routerLink="/analyzer" routerLinkActive="active">
        <i class="bi bi-search"></i>
        <span class="nav-text">Analyzer</span>
      </a>
    </li>
    <li>
      <a routerLink="/history" routerLinkActive="active">
        <i class="bi bi-clock-history"></i>
        <span class="nav-text">History</span>
      </a>
    </li>
    <li>
      <a routerLink="/settings" routerLinkActive="active">
        <i class="bi bi-gear"></i>
        <span class="nav-text">Settings</span>
      </a>
    </li>
  </ul>
  <ul class="nav logout-action">
    <li>
      <a href="#" (click)="$event.preventDefault(); onLogout()">
        <i class="bi bi-box-arrow-right"></i>
        <span class="nav-text">Logout</span>
      </a>
    </li>
  </ul>
</aside>
